footer.footer.bdr
    h2 FOOTER
//- .social
//-     .social__text
//-     a.social__link(href="#" target="_blank")
//-         svg.social__icon.social__icon--facebook
//-             +icon('social-facebook')
//-     a.social__link(href="#" target="_blank")
//-         svg.social__icon.social__icon--insta
//-             +icon('social-insta')
