//Fonts
$default-font: 'RobotoRegular', sans-serif;
$accent-font: 'RobotoBold', sans-serif;
$accent-font2: 'Alegreya', sans-serif;

// Colors;
$white: #ffffff;
$black: #000000;

$accent-red: #c43e3e;
$accent-yellow: #ffc95c;
$accent-green: #329064;


$icon-social: #4f5253;

$bg-footer: #14181a;

$text-gray: #c3c4c3;


$radius: 10px;
$radius-sm: 5px;
$shadow: 0 0 25px rgba(0, 0, 0, .05);

$main-bg-color: #ffffff;

// Sizes
$base-font-size: 16px;


// Breakpoints:
$phone: 320px;
$phone-wide: 480px;
$phablet: 560px;
$tablet-small: 640px;
$tablet: 768px;
$tablet-wide: 1024px;
$desktop: 1200px;
$desktop-wide: 1400px;




